body {
  margin: 0px 60px 0px 120px;
}

h1 {
  background-color:black ;
  border-color: black;
  border-style:groove;
  text-align: center;
  color: white; /* Confirmed black heading */
  font-weight: bolder;
  width: 80%;
  
  margin: 40px auto; /* Center the heading horizontally */
  border-radius: 10px;
  border-color: white;
  box-shadow: 3px 3px 5px grey;
}
.ecard{  
    padding: 5px;
    border-style: none;
    box-shadow: 3px 3px 5px black;
    width: 80%;
    height: 85%;
    margin:  40px auto;

}

.card {
  display: inline-block;
  margin: 30px;
  padding: 10px;
  width: 420px;
  height: 420px;
  border: none;
  box-shadow: 3px 3px 5px gray;
  border-radius: 10px;
  text-align: center; /* Center content including button */
}

.image{
    border-style: none;
    box-shadow: 3px 3px 5px blue;
}
.eimage {
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px grey;
}

.etitle {
  width: 100%;
  font-size: large;
  margin: 10px 0;
  color: darkblue; /* Updated title color */
  font-weight: bold;
}
.title{
    font-size: larger;
    font-weight: bolder;
}

.eprice {
    margin-right: 80px;
  font-size: large;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 3px 3px 5px  grey ;
  background-color: aquamarine;
  width: 40%;
  margin-top: 10px;
 
  padding: 5px;
}
 .price{ 
    margin: 10px;
   font-weight: bolder;
    border-style: none;
    font-size: large;

   background-color: white;
   box-shadow: 3px 3px 5px black;
   color: green;

    border-radius: 5px;
     width: 30%;
   

 }
.ebutton {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px grey;
  width: 60%;
  font-weight: bolder;
  background: blanchedalmond;
  color: indianred;
  font-size: medium;
  cursor: pointer;
}
.button{
    border-style: none;
    border-radius: 2px;
    box-shadow: 3px 3px 5px violet;
    width: 250px;
    background-color:blueviolet;
    font-size: medium;
    color: white;
    margin-left: 10px;
    width: 150px;
    padding: auto;
   
}
.button1{
    border-style: none;
    border-radius: 2px;
    box-shadow: 3px 3px 5px blue;
    width: 250px;
    background-color:blue;
    font-size: medium;
    color: white;
    margin-left: 10px;
    width: 150px;
    padding: auto;
   
}


